<section class="section" *ngIf="!quizInfo">
    <div class="container">
        <h4>Add Quiz</h4>
        <mat-form-field class="form-field" appearance="fill">
            <mat-label>Organisation Name</mat-label>
            <input matInput [(ngModel)]="quizSet.organizerName">
        </mat-form-field>
        <mat-form-field class="form-field" appearance="fill">
            <mat-label>Event Name</mat-label>
            <input matInput [(ngModel)]="quizSet.eventName">
        </mat-form-field>
        <mat-form-field class="form-field" appearance="fill">
            <mat-label>No of Questions</mat-label>
            <input matInput type="number" [(ngModel)]="quizSet.noOfQuestions">
        </mat-form-field>
        <mat-form-field class="form-field" appearance="fill">
            <mat-label>Time
            </mat-label>
            <input matInput type="number" [(ngModel)]="quizSet.time">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="next()">Next</button>
    </div>

</section>
<section *ngIf="quizInfo">
    <div class="container">
        <h4>Add Quiz</h4>
        <mat-form-field class="question-field" appearance="fill">
            <mat-label>Enter Question</mat-label>
            <textarea matInput [(ngModel)]="quizSet.question"></textarea>
        </mat-form-field>
        <div class="two-top-options">
            <mat-form-field class="question-field options" appearance="fill">
                <mat-label>Option 1</mat-label>
                <input matInput type="text" [(ngModel)]="optionModel.option1">
            </mat-form-field>
            &nbsp;
            <mat-form-field class="question-field options" appearance="fill">
                <mat-label>Option 2</mat-label>
                <input matInput type="text" [(ngModel)]="optionModel.option2">
            </mat-form-field>
        </div>
        <div class="two-top-options">
            <mat-form-field class="question-field options" appearance="fill">
                <mat-label>Option 3</mat-label>
                <input matInput type="text" [(ngModel)]="optionModel.option3">
            </mat-form-field>
            &nbsp;
            <mat-form-field class="question-field options" appearance="fill">
                <mat-label>Option 4</mat-label>
                <input matInput type="text" [(ngModel)]="optionModel.option4">
            </mat-form-field>
        </div>
        <mat-form-field appearance="fill" class="select">
            <mat-label>Choose right Option</mat-label>
            <mat-select [disabled]="!quizSet" [(ngModel)]="quizSet.rightAnswer">

                <mat-option [value]="optionModel?.option1">{{optionModel?.option1}}</mat-option>
                <mat-option [value]="optionModel?.option2">{{optionModel?.option2}}</mat-option>
                <mat-option [value]="optionModel?.option3">{{optionModel?.option3}}</mat-option>
                <mat-option [value]="optionModel?.option4">{{optionModel?.option4}}</mat-option>



            </mat-select>
        </mat-form-field>
        .


        <button mat-raised-button color="primary" (click)="submit()">Submit</button>
    </div>

</section>