// * {
//     margin-top: 1px;
// }
.example-spacer {
    flex: 1 1 auto;
}

mat-toolbar {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: #3f51b5;
    color: #fff;
    font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}