.mat-tab-group {
    margin-bottom: 48px;
}

.container {
    background-image: url('../../../../assets/add-quiz.jpg');
    display: flex;
    height: 85vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.sub-container {
    height: 50%;
    width: 50%;
}

.example-form-field {
    width: 200px;
}