<!-- <div class="container-main"> -->
<div class="question-time ">

    <div class="example">
        <mat-card class="noOfQuestions ">{{quizSet?.noOfQuestions}} questions</mat-card>
        <mat-card class="time ">{{quizSet?.time}}:00</mat-card>

    </div>
</div>
<div class="quiz-info">
    <div class="quiz-info-internal">
        <div style="padding-bottom:4px ;">Event: {{quizSet?.eventName}}</div>
        <div style="padding-bottom:4px ;">Organizer: {{quizSet?.organizerName}}</div>
        <div>Date: {{quizSet?.quizCreatedAt}}</div>
    </div>
</div>

<div class="container">

    <mat-card class="example-card ">
        <mat-card style="float: right;"><b>1M</b></mat-card>

        <div class="question">

            <p><span style="color: red;">Q1:</span> {{quizSet?.question}}?</p>
        </div>
        <div class="radio-options">
            <mat-radio-group aria-label="Select an option">
                <!-- <mat-label>1</mat-label> -->
                <mat-radio-button value="1" style="font-size: 17px;">{{quizSet?.options[0]}}</mat-radio-button>
                &nbsp;&nbsp;
                <mat-radio-button value="2" style="font-size: 17px;">{{quizSet?.options[1]}}</mat-radio-button>
                <br><br>
                <mat-radio-button value="1" style="font-size: 17px;">{{quizSet?.options[2]}}</mat-radio-button>
                &nbsp;&nbsp;
                <mat-radio-button value="2" style="font-size: 17px;">{{quizSet?.options[3]}}</mat-radio-button>
            </mat-radio-group>
        </div>
        <button mat-raised-button color="primary" [disabled]="this.skip==2" (click)="getQuizSet(false)">Save & Next</button>
        <button mat-raised-button color="primary" [disabled]="this.skip==0" (click)="getQuizSet(true)">Back</button>

        <button mat-raised-button color="primary" style="float: left;">Skip & Next</button>
        <!-- <button mat-raised-button color="primary skip-question">Skip & Next</button> -->

    </mat-card>

</div>

<!-- </div> -->