<div class="container">

    <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" [(ngModel)]="authModel.email" required="true">

    </mat-form-field>
    <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" [(ngModel)]="authModel.password" required="true">

    </mat-form-field>
    <button mat-raised-button color="primary" (click)="login()">Login</button>
</div>