<!-- <div class="container-main"> -->
<div class="question-time ">

    <!-- <div class="example">
            <mat-card class="noOfQuestions ">{{quizSet[0]?.noOfQuestions}} questions</mat-card>
            <mat-card class="noOfQuestions ">{{this.skip}} Attempted</mat-card>
            <mat-card class="time ">00:0{{minutes}}:{{remainSeconds}}</mat-card>
    
        </div> -->
</div>
<div class="info">

    <div class="quiz-info">
        <mat-card>
            <!-- <div class="quiz-info-internal">
                    <div style="padding-bottom:4px ;">Event: {{quizSet[0]?.eventName}}</div>
                    <div style="padding-bottom:4px ;">Organizer: {{quizSet[0]?.organizerName}}</div>
                    <div>Date: {{quizSet[0]?.quizCreatedAt}}</div>
                </div> -->

        </mat-card>
    </div>
    <div class="quiz-info">
        <mat-card>
            <div class="quiz-info-internal">
                <div style="padding-bottom:4px ;">Candidate Name: Adnan</div>

            </div>

        </mat-card>
    </div>

</div>
<div class="container">

    <mat-card class="example-card ">
        <mat-card style="float: right;"><b>1M</b></mat-card>

        <div class="question">

            <!-- <p><span style="color: red;">Q{{this.skip+1}}:</span> {{quizSet[0]?.question}}?</p> -->
        </div>
        <div class="radio-options">
            <!-- <mat-radio-group aria-label="Select an option" [(ngModel)]="response.chosenOption">
                    <mat-label>1</mat-label> -->
            <!--   <mat-radio-button value="1" style="font-size: 17px;" [value]="quizSet[0]?.options[0]">{{quizSet[0]?.options[0]}}</mat-radio-button>
                    &nbsp;&nbsp;
                    <mat-radio-button value="2" style="font-size: 17px;" [value]="quizSet[0]?.options[1]">{{quizSet[0]?.options[1]}}</mat-radio-button>
                    <br><br>
                    <mat-radio-button value="3" style="font-size: 17px;" [value]="quizSet[0]?.options[2]">{{quizSet[0]?.options[2]}}</mat-radio-button>
                    &nbsp;&nbsp;
                    <mat-radio-button value="4" style="font-size: 17px;" [value]="quizSet[0]?.options[3]">{{quizSet[0]?.options[3]}}</mat-radio-button>
                </mat-radio-group> -->
        </div>
        <!-- <button mat-raised-button color="primary" [disabled]="this.submitButton==true" (click)="getQuizSet()">Save & Next</button>
            <button mat-raised-button color="primary" [disabled]="this.submitButton==false" (click)="submitResponse()">Submit</button>
     -->
        <!-- <button mat-raised-button color="primary" style="float: left;">Skip & Next</button> -->
        <!-- <button mat-raised-button color="primary skip-question">Skip & Next</button> -->

    </mat-card>

</div>

<!-- </div> -->