<div class="wrapper" *ngIf="spinner">
    <div class="inner">

        <mat-spinner mode="indeterminate" color=""></mat-spinner>
    </div>
</div>
<!-- <div class="container-main"> -->
<div class="wrapper" *ngIf="!quizInfo?.time">
    <div class="inner">

        <mat-spinner mode="indeterminate"> </mat-spinner>
    </div>

</div>
<div *ngIf="quizInfo?.time">
    <div class="question-time ">

        <div class="example">
            <mat-card class="noOfQuestions ">Type:{{quizSet?.questionType}}</mat-card>
            <!-- <mat-card class="noOfQuestions ">{{this}} Attempted</mat-card> -->
            <!-- <mat-card class="time ">00:0{{minutes}}:{{remainSeconds}}</mat-card> -->
            <mat-card class="time ">{{minutes}}:{{remainSeconds}}</mat-card>

        </div>
    </div>
    <div class="info">

        <div class="quiz-info">
            <mat-card>
                <div class="quiz-info-internal">

                    <div style="padding-bottom:4px ;">Event: {{quizInfo?.eventName}}</div>
                    <div style="padding-bottom:4px ;">Organizer: {{quizInfo?.organizerName}}</div>
                    <div>Date: {{quizInfo?.quizCreatedAt}}</div>
                </div>

            </mat-card>
        </div>
        <div class="quiz-info">
            <mat-card>
                <div class="quiz-info-internal">
                    <div style="padding-bottom:4px ;">Team Name: Xyz</div>
                    <div style="padding-bottom:4px ;">Candidate Name: Adnan</div>

                </div>

            </mat-card>
        </div>

    </div>
    <div class="container">

        <mat-card class="example-card ">
            <mat-card style="float: right;"><b>1M</b></mat-card>

            <div class="question">

                <p><span style="color: red;">Q:{{sliceVal}}</span> {{quizSet?.question}}? <i class="fa fa-eye fa-lg eye" aria-hidden="true" *ngIf="quizSet?.questionType=='image'" (click)="viewMultiMedia()"></i></p>
            </div>

            <div class="radio-options">
                <mat-radio-group aria-label="Select an option" [(ngModel)]="response.response">

                    <mat-radio-button value="1" style="font-size: 17px;" [value]="quizSet?.options[0]">{{quizSet?.options[0]}}</mat-radio-button>
                    &nbsp;&nbsp;
                    <mat-radio-button value="2" style="font-size: 17px;" [value]="quizSet?.options[1]">{{quizSet?.options[1]}}</mat-radio-button>
                    <br><br>
                    <mat-radio-button value="3" style="font-size: 17px;" [value]="quizSet?.options[2]">{{quizSet?.options[2]}}</mat-radio-button>
                    &nbsp;&nbsp;
                    <mat-radio-button value="4" style="font-size: 17px;" [value]="quizSet?.options[3]">{{quizSet?.options[3]}}</mat-radio-button>
                </mat-radio-group>
            </div>
            <button mat-raised-button color="primary" [disabled]="next" (click)="getQuizSet()" *ngIf="!enableQuizSubmit">Next</button>
            <!-- <button mat-raised-button color="primary" *ngIf="enableQuizSubmit">Final Submit</button> -->
            <button mat-raised-button color="primary" [disabled]="!next" (click)="saveResponse()">Save Response</button>
            <button mat-raised-button color="primary" (click)="submitResponse()" *ngIf="enableQuizSubmit">Submit Response</button>
            <!-- <button mat-raised-button color="primary" [disabled]="this.submitButton==false" (click)="submitResponse()">Submit</button> -->

            <!-- <button mat-raised-button color="primary" style="float: left;">Skip & Next</button> -->
            <!-- <button mat-raised-button color="primary skip-question">Skip & Next</button> -->

        </mat-card>

    </div>

    <!-- </div> -->
</div>