// * {
//     margin: 0;
//     padding: 0;
// }
.question-time {
    // border: 2px solid red;
    margin-bottom: 0;
    height: 8vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.quiz-info {
    margin-left: 100px;
    width: 350px;
    margin-top: 20px;
    margin-bottom: 2px;
    // border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
}

.quiz-info-internal {
    font-size: 17px;
    // padding-left: 5x;
    margin-left: 9%;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start
}

.info {
    margin-top: 2px;
    display: flex;
    // justify-content: baseline;
    align-items: flex-end
}

.container {
    font-size: 12.5px;
    width: 100vw;
    height: 52vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // margin-left: 0px;
}

.example-card {
    // border: 2px solid green;
    border: 1px solid gray;
    width: 81%;
    height: 87%;
    // margin-left: 25px;
    // max-width: 400px;
}

.example {
    width: 83%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    // margin-left: 25px;
    // max-width: 400px;
}

.question {
    padding-top: 40px;
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 450;
    font-size: 17px;
}

.time {
    border-radius: 40px;
    width: 50px;
    height: 50px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(10, 8, 8);
}

.noOfQuestions {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color;
    color: blue;
    font-weight: 500;
    font-size: 20px;
}

.radio-options {
    margin-top: 20px;
    margin-left: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // align-items: center;
}

button {
    margin-top: 70px;
    float: right;
}

// .skip-question {
//     margin-top: 20px;
//     float: left;
// }