<section class="section" *ngIf="!quizInfo">
    <div class="container">
        <mat-form-field class="form-field" appearance="fill">
            <mat-label>Organisation Name</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="fill">
            <mat-label>Event Name</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="fill">
            <mat-label>No of Questions</mat-label>
            <input matInput type="number">
        </mat-form-field>
        <mat-form-field class="form-field" appearance="fill">
            <mat-label>Time
            </mat-label>
            <input matInput type="number">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="submit()">Submit</button>
    </div>

</section>
<section *ngIf="quizInfo">
    <div class="container">
        <mat-form-field class="question-field" appearance="fill">
            <mat-label>Enter Question</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>
        <div class="two-top-options">
            <mat-form-field class="question-field options" appearance="fill">
                <mat-label>Option 1</mat-label>
                <input matInput type="text" [(ngModel)]="quizSet.options">
            </mat-form-field>
            &nbsp;
            <mat-form-field class="question-field options" appearance="fill">
                <mat-label>Option 2</mat-label>
                <input matInput type="text">
            </mat-form-field>
        </div>
        <div class="two-top-options">
            <mat-form-field class="question-field options" appearance="fill">
                <mat-label>Option 3</mat-label>
                <input matInput type="text">
            </mat-form-field>
            &nbsp;
            <mat-form-field class="question-field options" appearance="fill">
                <mat-label>Option 4</mat-label>
                <input matInput type="text">
            </mat-form-field>
        </div>
        <mat-form-field appearance="fill" class="select">
            <mat-label>Choose right Option</mat-label>
            <mat-select [disabled]="!quizSet.options">
                <mat-option value="option1">Option 1</mat-option>
                <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
                <mat-option value="option3">Option 3</mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="submit()">Submit</button>
    </div>

</section>