.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
}

container-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.special {
    margin-left: 5px;
}

button {
    margin-left: 50px;
    margin-right: 50px;
}