<section *ngIf="quizInfo">
    <div class="container">
        <h4 class="title">Add Quiz</h4>

        <mat-form-field class="form-field mdInput" appearance="outline">
            <mat-label>Organisation Name</mat-label>
            <input matInput required="true" required minlength="2" [(ngModel)]="quizModel.organizerName" required="true" minlength="2">
        </mat-form-field>

        <mat-form-field class="form-field" appearance="outline">
            <mat-label>Event Name</mat-label>
            <input matInput required="true" [(ngModel)]="quizModel.eventName" required="true">
        </mat-form-field>
        <div class="time-question">
            <mat-form-field class="form-field" appearance="outline">
                <mat-label>No of Questions</mat-label>
                <input matInput type="number" required="true" [(ngModel)]="quizModel.noOfQuestions" required="true">
            </mat-form-field>
            <mat-form-field class="form-field" class="time" appearance="outline">
                <mat-label>Time
                </mat-label>
                <input matInput type="number" required="true" [(ngModel)]="quizModel.time" required="true">
            </mat-form-field>

        </div>
        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Choose an option</mat-label>
            <mat-select>
                <mat-option value="option1">Only Text</mat-option>
                <mat-option value="option3">Only Video</mat-option>
                <mat-option value="option3">Only Audio</mat-option>
                <mat-option value="option3">Mixed</mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="next()">Next</button>
    </div>

</section>
<section *ngIf="!quizInfo">
    <div class="container">

        <mat-form-field class="example-full-width text-area mobile-height" appearance="outline">
            <mat-label>Enter Question</mat-label>
            <textarea matInput [(ngModel)]="question" required="true"></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-field text-area">
            <mat-label>Choose question type</mat-label>
            <mat-select [(ngModel)]=questionType>
                <mat-option value="text">Text</mat-option>
                <mat-option value="video">Video</mat-option>
                <mat-option value="image">Image</mat-option>
                <mat-option value="audio">Audio</mat-option>


            </mat-select>
        </mat-form-field>
        <div class="two-options">
            <mat-form-field class="form-field text-area" style="margin-right: 3px;" appearance="outline">
                <mat-label>Option 1</mat-label>
                <input matInput required="true" [(ngModel)]="optionModel.option1" required="true">
            </mat-form-field>
            <mat-form-field class="form-field text-area" appearance="outline">
                <mat-label>Option 2</mat-label>
                <input matInput required="true" [(ngModel)]="optionModel.option2" required="true">
            </mat-form-field>
        </div>
        <div class="two-options">
            <mat-form-field class="form-field text-area" style="margin-right:3px" appearance="outline">
                <mat-label>Option 3</mat-label>
                <input matInput required="true" [(ngModel)]="optionModel.option3" required="true">
            </mat-form-field>
            <mat-form-field class="form-field text-area" appearance="outline">
                <mat-label>Option 4</mat-label>
                <input matInput required="true" [(ngModel)]="optionModel.option4" required="true">
            </mat-form-field>
        </div>
        <!-- <input id="file" type="file" *ngIf="questionType!='text'"> -->
        <input type="file" class="form-control" name="myfile" accept="image/*" (change)="changeProfileImg($event)" multiple *ngIf="questionType=='image'" />

        <mat-form-field appearance="outline" class="form-field text-area">
            <mat-label>Choose an option</mat-label>
            <mat-select [(ngModel)]=questionBank.rightAnswer>
                <mat-option [value]="optionModel.option1">{{optionModel.option1}}</mat-option>
                <mat-option [value]="optionModel.option2">{{optionModel.option2}}</mat-option>
                <mat-option [value]="optionModel.option3">{{optionModel.option3}}</mat-option>
                <mat-option [value]="optionModel.option4">{{optionModel.option4}}</mat-option>



            </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="submit()" *ngIf="!enablePreview">Submit</button>
        <div class="final-preview">
            <button mat-raised-button color="primary" (click)="preview()" *ngIf="enablePreview">Preview</button>
            <button mat-raised-button color="primary" (click)="finalSubmit()" *ngIf="enablePreview">Final Submit</button>

        </div>
    </div>

</section>