.title {
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.form-field {
    // border: 2px solid red;
    height: 70px;
    width: 500px;
}

textarea {
    font-size: large;
    height: 100px;
}

.container {
    // width: 100vw;
    background-image: url('../../../../assets/add-quiz.jpg');
    height: 89.99vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.time-question {
    max-width: inspect($value: 500px);
    display: flex;
    flex-direction: row;
    // align-items: center;
    justify-content: space-around;
}

.time {
    margin-left: 9px;
}

button {
    margin-top: 0px;
    width: 200px;
}

.text-area {
    width: 50vw;
    // height: 10vh;
}

final-preview {
    display: flex;
}

mat-label {
    font-size: 17px;
    color: rgb(57, 3, 3);
}

// .footer {
//     margin-top: 2px;
//     border: 2px solid red;
//     height: 10vh;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     font-family: Arial, Helvetica, sans-serif;
//     font-size: larger;
//     font-weight: 400;
//     background-color: cadetblue;
// }
// .mat-form-field-appearance-outline .mat-form-field-outline {
//     color: red;
// }
// /* Font color */
input.mat-input-element {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

::ng-deep {
    .mat-form-field-appearance-outline .mat-form-field-outline {
        color: blueviolet;
    }
    mat-form-field {
        .mat-hint,
        input,
         ::placeholder,
        .mat-form-field-label {
            color: black;
        }
    }
}

.file-input {
    display: none;
}

#file {
    width: 20%;
}

.two-options {
    display: flex;
    // justify-content: space-around;
    width: 51%;
}

@media screen and (max-width:600px) {
    .form-field {
        // border: 2px solid red;
        height: 70px;
        width: 300px;
    }
    .time-question {
        width: 300px;
        display: flex;
        flex-direction: column;
    }
    .time {
        margin-left: 0;
    }
    .text-area {
        width: 90vw;
    }
    .mobile-height {
        height: 90px;
    }
}