<section *ngIf="quizInfo && !enablePreviewSection">
    <mat-card class="container">
        <h4 class="title">Add Quiz</h4>

        <mat-form-field class="form-field mdInput" appearance="outline">
            <mat-label>Organisation Name</mat-label>
            <input matInput required="true" required minlength="2" [(ngModel)]="quizModel.organizerName" required="true" minlength="2">
        </mat-form-field>

        <mat-form-field class="form-field" appearance="outline">
            <mat-label>Event Name</mat-label>
            <input matInput required="true" [(ngModel)]="quizModel.eventName" required="true">
        </mat-form-field>
        <div class="time-question">
            <mat-form-field class="form-field" appearance="outline">
                <mat-label>No of Questions</mat-label>
                <input matInput type="number" required="true" [(ngModel)]="quizModel.noOfQuestions" required="true">
            </mat-form-field>
            <mat-form-field class="form-field" class="time" appearance="outline">
                <mat-label>Time
                </mat-label>
                <input matInput type="number" required="true" [(ngModel)]="quizModel.time" required="true">
            </mat-form-field>

        </div>
        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Choose an option</mat-label>
            <mat-select>
                <mat-option value="option1">Only Text</mat-option>
                <mat-option value="option3">Only Video</mat-option>
                <mat-option value="option3">Only Audio</mat-option>
                <mat-option value="option3">Mixed</mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="next()">Next</button>
    </mat-card>

</section>
<section *ngIf="!quizInfo && !enablePreviewSection">
    <div class="container">

        <mat-form-field class="example-full-width text-area mobile-height" appearance="outline">
            <mat-label>Enter Question</mat-label>
            <textarea matInput [(ngModel)]="question" required="true"></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-field text-area">
            <mat-label>Choose question type</mat-label>
            <mat-select [(ngModel)]=questionType>
                <mat-option value="text">Text</mat-option>
                <mat-option value="video">Video</mat-option>
                <mat-option value="image">Image</mat-option>
                <mat-option value="audio">Audio</mat-option>


            </mat-select>
        </mat-form-field>
        <div class="two-options">
            <mat-form-field class="form-field text-area" style="margin-right: 3px;" appearance="outline">
                <mat-label>Option 1</mat-label>
                <input matInput required="true" [(ngModel)]="optionModel.option1" required="true">
            </mat-form-field>
            <mat-form-field class="form-field text-area" appearance="outline">
                <mat-label>Option 2</mat-label>
                <input matInput required="true" [(ngModel)]="optionModel.option2" required="true">
            </mat-form-field>
        </div>
        <div class="two-options">
            <mat-form-field class="form-field text-area" style="margin-right:3px" appearance="outline">
                <mat-label>Option 3</mat-label>
                <input matInput required="true" [(ngModel)]="optionModel.option3" required="true">
            </mat-form-field>
            <mat-form-field class="form-field text-area" appearance="outline">
                <mat-label>Option 4</mat-label>
                <input matInput required="true" [(ngModel)]="optionModel.option4" required="true">
            </mat-form-field>
        </div>
        <!-- <input id="file" type="file" *ngIf="questionType!='text'"> -->
        <input type="file" class="form-control" name="myfile" accept="image/*" (change)="changeProfileImg($event)" multiple *ngIf="questionType=='image'" />

        <mat-form-field appearance="outline" class="form-field text-area">
            <mat-label>Choose an option</mat-label>
            <mat-select [(ngModel)]=rightAnswer>
                <mat-option [value]="optionModel.option1">{{optionModel.option1}}</mat-option>
                <mat-option [value]="optionModel.option2">{{optionModel.option2}}</mat-option>
                <mat-option [value]="optionModel.option3">{{optionModel.option3}}</mat-option>
                <mat-option [value]="optionModel.option4">{{optionModel.option4}}</mat-option>



            </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="submit()" *ngIf="!enablePreviewButton">Submit</button>
        <div class="final-preview">
            <button mat-raised-button color="primary" (click)="preview()" *ngIf="enablePreviewButton">Preview</button>
            <button mat-raised-button color="primary" (click)="finalSubmit()" *ngIf="enablePreviewButton">Final Submit</button>

        </div>
    </div>
    <!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                                Preview Below
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
</section>
<section *ngIf="enablePreviewSection">
    <mat-card *ngFor="let question of quizModel.questionBank; index as i;">

        <h3 style="color: red;">question {{i}}</h3>

        <mat-form-field class="form-field text-area" appearance="outline">
            <mat-label>Question</mat-label>
            <textarea matInput [(ngModel)]="question.question"></textarea>
        </mat-form-field>
        <mat-form-field class="form-field text-area" appearance="outline" style="margin-top:10px ;">
            <mat-label>question Type</mat-label>
            <input matInput [(ngModel)]="question.questionType">
        </mat-form-field>



        <mat-form-field class="form-field text-area" appearance="outline">
            <mat-label>option1</mat-label>
            <input matInput [(ngModel)]="question.options[0]">
        </mat-form-field>
        <mat-form-field class="form-field text-area" appearance="outline">
            <mat-label>option2</mat-label>
            <input matInput [(ngModel)]="question.options[1]">
        </mat-form-field>
        <mat-form-field class="form-field text-area" appearance="outline">
            <mat-label>option3</mat-label>
            <input matInput [(ngModel)]="question.options[2]">
        </mat-form-field>
        <mat-form-field class="form-field text-area" appearance="outline">
            <mat-label>option4</mat-label>
            <input matInput [(ngModel)]="question.options[3]">
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field text-area">
            <mat-label>Choose an right option</mat-label>

            <mat-select [(ngModel)]=question.rightAnswer>

                <mat-option [value]="question?.options[0]">{{question?.options[0]}}</mat-option>
                <mat-option [value]="question?.options[1]">{{question?.options[1]}}</mat-option>
                <mat-option [value]="question?.options[2]">{{question?.options[2]}}</mat-option>
                <mat-option [value]="question?.options[3]">{{question?.options[3]}}</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-card>
    <button mat-raised-button color="primary" (click)="finalSubmit()" *ngIf="enablePreviewButton">Final Submit</button>
</section>