.mat-tab-group {
    margin-bottom: 48px;
}

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.sub-container {
    height: 50%;
    width: 50%;
}

.example-form-field {
    width: 200px;
}